@model IndividualButtonPartial

<a class="btn btn-sm @Model.ButtonType" href="@Url.Action(Model.Action)@Model.ActionParameter">

    <span class="glyphicon glyphicon-@Model.Glyph"></span>
    <span class="sr-only">@Model.Text</span>
</a>
