@model ApplicationUser
@{
    ViewData["Title"] = "Delete";
}

<br />
<h2>Delete Customer</h2>
<hr />

<form asp-action="Delete">
    <div class="form-border">
        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    <label asp-for="FirstName" class="custom-label"></label>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <input asp-for="FirstName" disabled="" class="form-control">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <label asp-for="LastName" class="custom-label"></label>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <input asp-for="LastName" disabled class="form-control">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <label asp-for="Email" class="custom-label"></label>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <input asp-for="Email" disabled class="form-control">
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-3">
                    <label asp-for="Address" class="custom-label"></label>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <input asp-for="Address" disabled class="form-control">
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-3">
                    <label asp-for="City" class="custom-label"></label>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <input asp-for="City" disabled class="form-control">
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-3">
                    <label asp-for="PostalCode" class="custom-label"></label>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <input asp-for="PostalCode" disabled class="form-control">
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-3">
                    <label asp-for="PhoneNumber" class="custom-label"></label>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <input asp-for="PhoneNumber" disabled class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-sm btn-danger">
            <a asp-action="Index" class="btn btn-sm btn-success">Back to homepage</a>
        </div>
    </div>
</form>