@*@model ApplicationUser
@{
    ViewData["Title"] = "Detail";
}

<br />
<h2>Customer Detail</h2>
<hr />

<form asp-action="Detail">
    <div class="form-border">
        <fieldset disabled>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <label asp-for="FirstName" class="custom-label"></label>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <input asp-for="FirstName" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <label asp-for="LastName" class="custom-label"></label>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <input asp-for="LastName" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <label asp-for="E" class="custom-label"></label>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <input asp-for="MemberTypeCosts" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <input asp-for="Active" type="checkbox">&nbsp Active
                    </div>
                </div>
            </div>
            <br />
        </fieldset>
        <div class="form-group">
            <a asp-action="Index" class="btn btn-sm btn-success">Back to homepage</a>
        </div>
    </div>
</form>*@
